/* Navbar */
.navbar-brand {
  font-family: Libre Baskerville;
  font-size: 32px;
}
/* Jumbotron */
.jumbotron {
  background-image: url(img/img2.JPG);
  background-size: cover;
  height: 640px;
}
.jumbotron .display-4 {
  margin-top: 150px;
}
.info-panel {
  margin-top: -120px;
}

/* Desktop Version */
@media (min-width: 992px) {
  .navbar-brand,
  .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }
  .nav-link {
    text-transform: uppercase;
    margin-right: 20px;
  }
  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid white;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
  .jumbotron {
    margin-top: -75px;
  }
}
